<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string></string>
	<key>contactName</key>
	<string>Jeff Federman</string>
	<key>description</key>
	<string>Ultimately, to run tests in an iTerm2 window.</string>
	<key>name</key>
	<string>iTerm2</string>
	<key>uuid</key>
	<string>A6827CE1-A188-4124-A32B-83F4DDD07756</string>
</dict>
</plist>
